/vendor
/public/uploads/
/node_modules
/bower_components
/public/storage
/public/fonts
/public/build
/public/fonts
/public/styles
/public/scripts
/public/images
/public/summernote
/build
/storage/debugbar
Homestead.yaml
Homestead.json
.env
.idea/
.DS_Store
